
/* Reseteo */
*{
    margin:0px;
    padding: 0px;
  }
  
  /* Variables*/
  :root {
    --lav-light: #f2deff;
    --lav: #B57EDC;
  }
  
  /* Tipografía general */
  body {
    font-family: raleway;
  }
  
  
  






  
  
  
  
  
  
  

  
  
/*   
  <iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d210147.3970706404!2d-58.57338436212408!3d-34.615461118227664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca3b4ef90cbd%3A0xa0b3812e88e88e87!2sBuenos%20Aires%2C%20CABA!5e0!3m2!1ses!2sar!4v1648220802421!5m2!1ses!2sar"
  width="100%"
  height="450"
  style="border: 0"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"
></iframe> */
  
  /* Footer */
  footer {
    width: 100%;
    background: var(--lav);
    height: 100px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
  }
  
  .anchoFooter {
    margin-top: 30px;
  }
  
  .redes {
  
    display: inline-block;
  }
  
  .bi-facebook {
    /* font-size: 30px; */
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
  }
  
  .bi-facebook:hover {
    color: #3b5998;
  }
  
  .bi-whatsapp {
    /* font-size: 30px; */
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
  }
  
  .bi-whatsapp:hover {
    color: #25D366;
  }
  
  .bi-instagram {
    /* font-size: 30px; */
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
  }
  
  .bi-instagram:hover {
    color: #8a3ab9;
  }
  
  
  
  