
/* Reseteo */

  /* Variables*/
  :root {
    --lav-light: #f2deff;
    --lav: #B57EDC;
  }
  
  /* Tipografía general */
  body {
    font-family: raleway;
  }

  .mt-6{
      margin-top: 5rem;
  }
  
  
  /* Crear una clase nueva */
  .btn-lav {
    color: #fff;
    background-color:#B57EDC ;
    border-color: #B57EDC;
}

.btn-lav:hover{
    color: #fff;
    background-color:#d099f7 ;
    border-color: #d099f7;
    transform: scale(0.9);
}


/* Pisar la clase existente */
.btn-primary:hover{
    color: #fff;
    background-color:#d099f7 ;
    border-color: #d099f7;
    transform: scale(0.9);
}


.btn-primary {
    color: #fff;
    background-color:#B57EDC ;
    border-color: #B57EDC;
}

.bg-lav{
    background-color:#f2deff !important;
}


.accordion-button:not(.collapsed) {
    color: grey;
    background-color: #f2deff;
    box-shadow: rgb(220, 145, 223, 0.5);
}




.accordion-button:not(.collapsed) {
    color: grey;
    background-color: #f2deff;
    box-shadow: rgb(220, 145, 223, 0.5);
}
.accordion-button:focus {
    z-index: 3;
    border-color: #B57EDC;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(201, 111, 201, 0.25);
}







  
  
  
  

  

  
  /* Footer */
  footer {
    width: 100%;
    background: var(--lav);
    height: 100px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
  }
  
  .anchoFooter {
    margin-top: 30px;
  }
  
  .redes {
  
    display: inline-block;
  }
  
  .bi-facebook {
    /* font-size: 30px; */
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
  }
  
  .bi-facebook:hover {
    color: #3b5998;
  }
  
  .bi-whatsapp {
    /* font-size: 30px; */
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
  }
  
  .bi-whatsapp:hover {
    color: #25D366;
  }
  
  .bi-instagram {
    /* font-size: 30px; */
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
  }
  
  .bi-instagram:hover {
    color: #8a3ab9;
  }
  

  @media (max-width: 768px) {
    .mt-mob{
        margin-top: 2rem;
    }

  }
  
  
  